.distributorWrapper{
    margin-top: 8vh;
}
.beforeSelect{
    background-color:#ffffff;
}

.card1,.card2,.card3,.card4 {
    min-height: inherit;
    justify-content: center;
    align-items: center;
}
.cards{
    background: #FFF;
    box-shadow: 0 2px 5px 0 rgb(0 0 0 / 26%);
    border: 12px solid;
    border-color: rgba(204, 204, 204, 0.5);
    padding: 9px;
}
.CardGrid{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 39px;
    grid-row-gap: 12px;
    min-height: 10vh;
  }
  .card1 { grid-area: 1 / 1 / 2 / 2; }
  .card2 { grid-area: 1 / 2 / 2 / 3; }
  .card3 { grid-area: 2 / 1 / 3 / 2; }
  .card4 { grid-area: 2 / 2 / 3 / 3; }
  
.buttoncontainer{
    min-width: 25vw;
    min-height: 20vh;
    box-shadow: none;
    /* border: 1px solid #F1F1F1; */
}
.buttonwrapper {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    flex-wrap: nowrap;
    justify-content: center;
    min-height: inherit;
}
.buttonwrapper button{
    text-align: left;
    padding-left: 13px;
    height: 49px;
border: 1px solid #ebeae6;
}

.buttonwrapper button:hover{
    background-color: 5px solid #2088cb !important;
    transition: all 250ms ease-in;
    border-left: 5px solid #2088cb !important;
}

.buttonwrapper button::selection{
    background-color: blue;
    color:white;
    border-left: 5px solid #2088cb !important;
}
.buttonwrapper button:scope{
    background-color: blue;
    color:white;
    border-left: 5px solid #2088cb !important;
}

.cardconatiner{
    min-width: 60vw;
}

.flexContainer{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.cardWrapper{
    display: flex;
    min-height: inherit;
    min-width: -webkit-fill-available;
    flex-direction: row;
    justify-content: space-between;
}
.dataconatiner{
    cursor:pointer;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.textholder{
    font-size: 19px;
    margin-right: 15px;
}
.dataholder{
    font-size: 1.4rem;}

    .profileWrapper{
        min-width: 60vw;
    }
.dataconatinerMSG{
    display: flex;
    flex-direction: row;
    min-width: 12vw;
    justify-content: space-between;
    align-items: stretch;
    cursor:pointer;
    margin-right: 4vw;
}